---
import { Font } from "astro:assets";

import "../styles/global.css";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="shortcut icon" href="/favicon.ico" />

<title>Astrología Fractal</title>
<meta
  name="description"
  content="No leemos el cielo para huir de la tierra, sino para habitarla mas profundamente. Adela Dore, artista y astróloga afrocaribeña, nacida y residente en Ayiti."
/>

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://astrofractal.leon-dore.workers.dev/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Astrología Fractal" />
<meta
  property="og:description"
  content="No leemos el cielo para huir de la tierra, sino para habitarla mas profundamente. Adela Dore, artista y astróloga afrocaribeña, nacida y residente en Ayiti."
/>
<meta
  property="og:image"
  content="https://astrofractal.leon-dore.workers.dev/astrofractal-og.jpg"
/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="astrofractal.leon-dore.workers.dev" />
<meta
  property="twitter:url"
  content="https://astrofractal.leon-dore.workers.dev/"
/>
<meta name="twitter:title" content="Astrología Fractal" />
<meta
  name="twitter:description"
  content="No leemos el cielo para huir de la tierra, sino para habitarla mas profundamente. Adela Dore, artista y astróloga afrocaribeña, nacida y residente en Ayiti."
/>
<meta
  name="twitter:image"
  content="https://astrofractal.leon-dore.workers.dev/astrofractal-og.jpg"
/>

<Font cssVariable="--font-inter" preload />
<Font cssVariable="--font-instrument-serif" preload />
