---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getLangFromUrl } from "../utils/i18n";

const lang = getLangFromUrl(Astro.url);

const headerHeight = 74;
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head />
  </head>

  <body class="bg-light text-primary min-h-screen">
    <Header height={headerHeight} />

    <main style={`padding-top: ${headerHeight}px;`}>
      <slot />
    </main>

    <Footer />

    <script>
      document.querySelectorAll("a[href^='#']").forEach((anchor) => {
        anchor.addEventListener("click", (e) => {
          e.preventDefault();
          const href = anchor.getAttribute("href");
          if (!href) return;

          const target = document.querySelector(href);
          if (!target) return;

          target.scrollIntoView({ behavior: "smooth" });
        });
      });
    </script>
  </body>
</html>
